

.copy-box{
   $color-pasting: rgba($color-neon-blue, 0.5);
   $color-copying: rgba($color-neon-green, 0.5);
   $color-bg: rgba(225, 225, 225, 1);

   transition: background-color 0.25s ease;
   font-size: 1.25rem;
   min-width: 2rem;
   display: inline-block;
   position: relative;
   // background-color: $color-bg;

   input{
      border: none;
      background-color: transparent;
      width: 3rem;
      height: 3rem;
      font-family: "FontAwesome";
      text-align: center;
      &:focus{
         border: thin gray solid;
      }
   }
   &.copying{
      background-color: $color-copying;
      color: white;
   }
   &.pasting{
      background-color: $color-pasting;
      color: white;
   }
   
}

